page-completed {

.toolbar-background {

    background-color: purple;
   }

  .item-input .label-md,.item-select .label-md
  {
    color:#444;
    font-weight: bold;
    font-size: 18px;
  }

  .toolbar
  {
    text-align:center;
  }
  .button-block
    {

   background-color:purple;

}
}
