<!--
  Generated template for the CreateTour page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>

   <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <span style ="color: white">Tour Editing</span>
    </ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content padding>

 <form [formGroup]="editTourForm" (submit)="onSubmit(editTourForm.value)">

<ion-item>

   <ion-label floating>Tour Name</ion-label>
   <ion-input #name formControlName="name" (change)= "elementChanged(name)" 
   [class.invalid]="!editTourForm.controls.name.valid && (nameChanged || submitAttempt)"></ion-input>
</ion-item>


 <ion-item class="error-message" *ngIf="!editTourForm.controls.name.valid && (nameChanged || submitAttempt)">
      <p>Please enter a valid tour name</p>
 </ion-item>

  <ion-item>
      <ion-label floating>Tour Country</ion-label>
      <ion-input #country formControlName="country" (change)="elementChanged(country)"
        
        [class.invalid]="!editTourForm.controls.country.valid && (countryChanged || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="!editTourForm.controls.country.valid  && (countryChanged || submitAttempt)">
      <p>Please enter a valid country</p>
   </ion-item>

    <ion-item>
            <ion-label>Season</ion-label>
            <ion-select multiple="false" formControlName="season">
                <ion-option value="spring" checked="true">Spring</ion-option>
                <ion-option value="winter">Winter</ion-option>
                <ion-option value="autumn">Autumn</ion-option>
                <ion-option value="summer">Summer</ion-option>
             </ion-select>
    </ion-item>

     <ion-item>
      <ion-label floating>Approximate Fee</ion-label>
      <ion-input #fee formControlName="fee" (change)="elementChanged(fee)"
        
        [class.invalid]="!editTourForm.controls.fee.valid && (feeChanged || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="!editTourForm.controls.fee.valid  && (feeChanged || submitAttempt)">
      <p>Please enter a valid country</p>
   </ion-item>

        <br/><br/>
        <button ion-button block type="submit" [disabled]="!editTourForm.valid">EDIT TOUR</button>
    </form>

</ion-content>