page-notification {

 .item-md p
 {
  white-space: normal;
 }

 .toolbar-background {

    background-color: red;
}

 .toolbar
 {
    text-align:center;
 }

 .item-md
 {
  background-color: lightGreen;
 }

  ion-content{
     background-image: url('../assets/images/t2.png');
  }

}
