page-stepdetails {
       
  .toolbar-background {

    background-color: #9999CC;
   }

  .toolbar
  {
    text-align:center;
  }
  
  .custom-icon{
      font-size: 64px;
      color: lightblue;
  }

   #map {

    width: 100%;
    height: 100%;
  }

}
