page-create-tour {

  .error-message .item-inner {
    border-bottom: 0 !important;
  }


   .toolbar-background {

    background-color: purple;
   }

  .item-input .label-md,.item-select .label-md
  {
    color:#444;
    font-weight: bold;
    font-size: 18px;
  }

  .toolbar
  {
    text-align:center;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }
   ion-content{
    background-image: url('../../assets/images/t2.png');
}
}
