page-transportation {
 .toolbar-background {

    background-color: purple;
}

  .item-input .label-md,.item-select .label-md
  {
    color:#444;
    font-weight: bold;
    font-size: 18px;
  }

  .toolbar
  {
    text-align:center;
  }

    #map {
        width: 100%;
        height: 100%;
      }

      .button
    {

   background-color:purple;

}

}
