page-stepsummary {
      .toolbar-background {

    background-color: cornflowerblue;

        }
  .toolbar
  {
    text-align:left;
  }

    ion-content{
    background-image: url('../../assets/images/t2.png');
}



}
